#tswcssbuttons {
  width: 95%;
  text-align: center;
}

#tswcssbuttons ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}

#tswcssbuttons li {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: block;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: yellow;
  background-color: #12127d;
  border-top-width: 1px;
  border-top-style: outset;
  border-top-color: #9191ff;
  border-right-width: 1px;
  border-right-style: outset;
  border-right-color: #9191ff;
  border-bottom-width: 1px;
  border-bottom-style: outset;
  border-bottom-color: #9191ff;
  border-left-width: 1px;
  border-left-style: outset;
  border-left-color: #9191ff;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: #c8c8ff;
}

#title {
  margin-left: 21%;
}

